<div class="row">
  <div class="col-5">
    <app-liste (eventToCv)="saveSelectedCandidate($event)"></app-liste>
  </div>
  <div class="col-7">
    @if (selectedCandidate) {
    <app-details [selCand]="selectedCandidate"></app-details>

    } @else {
    <i>Veuillez sélectionnez un candidat...</i>
    }
  </div>
</div>

<app-recrues></app-recrues>

<!-- 
<button (click)="addNewCandidate()" class="btn btn-primary">
  Add Candidate
</button>
<button (click)="showCandidates()" class="btn btn-danger">
  afficher Candidats Depuis CV
</button> -->
