<input [(ngModel)]="selectedStatus" type="text" class="form-control" />
<br />
<ul class="list-group">
  @for (serv of tabServers | filter:selectedStatus; track $index) {
  <li [ngClass]="affecterClass(serv.status)" class="list-group-item">
    {{ serv.name | short : 15 }} - {{ serv.type | titlecase }} -
    {{ serv.date_d | date : "fullDate" | uppercase }}
    <span class="badge text-bg-secondary">{{ serv.status }} </span>
  </li>
  }
</ul>

<!-- <p
  [ngClass]="{
    c1: class1,
    c2: class2,
    c3: class3
  }"
>
  Exemple de ngClass
</p>

<button (click)="switchClass()" class="btn btn-primary">Switch Class</button> -->
