<div class="contour">
  <strong> {{ oneAccount.nom }} </strong>
  <hr />
  <p>This account is {{ oneAccount.statut }}</p>
  <button
    [disabled]="oneAccount.statut == 'active'"
    class="btn btn-success"
    (click)="updateStatut('active')"
  >
    Set to 'active'
  </button>
  <button
    [disabled]="oneAccount.statut == 'inactive'"
    class="btn btn-danger"
    (click)="updateStatut('inactive')"
  >
    Set to 'inactive'
  </button>
  <button
    [disabled]="oneAccount.statut == 'unknown'"
    class="btn btn-info"
    (click)="updateStatut('unknown')"
  >
    Set to 'unknown'
  </button>
</div>
