<h3>Bienvenue à notre application Angular chez Orsys...</h3>
<hr />
<strong>Navigation côté HTML</strong>
<br />
<button routerLink="cv" class="btn btn-outline-primary">Go To Cv</button>

<button [routerLink]="['accounts']" class="btn btn-outline-warning">
  Go To Accounts
</button>
<hr />
<button (click)="goToServers('servers')" class="btn btn-outline-info">
  Go To Servers
</button>

<button (click)="goToWord()" class="btn btn-outline-danger">
  Go To Ms-Word
</button>

<hr />
<button (click)="recupererDonneesDepuisAPI()" class="btn btn-outline-danger">
  Fetch Data
</button>

<hr />

<h1 translate>hello</h1>
<!-- <h1 translate>
  {{ "bonjour" | translate }} Nidhal - {{ "formation" | translate }} Angular -
  {{ "année" | translate }} 2025
</h1> -->
<p>{{ "WELCOME" | translate }}</p>

<select #langSelect (change)="switchLang(langSelect.value)">
  <option value="fr">Français</option>
  <option value="en">English</option>
</select>

<!-- <app-exp-obs></app-exp-obs> -->
